<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="" method="post">
    <h3><b>REGISTRATION FORM</b></h3>
    {% csrf_token %}
    <input type="text" name="username" placeholder="Enter Username?"><br>
     <input type="text" name="first_name" placeholder="Enter Firstname?"><br>
    <input type="text" name="last_name" placeholder="Enter Lastname?"><br>
     <input type="email" name="email" placeholder="Enter your Email-Id?"><br>
      <input type="password" name="password" placeholder="Enter password?"><br>
     <input type="password" name="cnfpassword" placeholder="Enter Password To Conform?"><br>
        <input type="submit">
</form>
{% for msg in messages %}
{{msg}}
{% endfor %}
</body>
</html>